
  <div id="<%= question.id  %>" class="row display_questions">
    <ul id="listQuestions">
      <li><%= question.description %>
      <% if session[:id] == question.survey.creator_id %>
        <span><a class="deleteBtn" href="/question/<%= question.id %>"><button>delete</button></a></span>
      <% end %>
      </li>
      <input type="radio" name="questions[<%=question.id%>]" value="TRUE"> True
      <br>
      <input type="radio" name="questions[<%=question.id%>]" value="FALSE"> False
    </ul>
  </div>
