<div class="container">
  <div class="row title">
    <h1><%= @survey.title %></h1>
  </div>
  <div class="row questionsList">
    <% @questions.each do |question| %>
      <%= erb :"survey/_question", locals: {question: question} %>
    <% end %>

  </div>
  <% if session[:id] == @survey.creator_id %>
  <div class="row create_question">
    <form action="/surveys/<%= @survey.id %>/question/create" method="post" class="add-question">
      <input type="text" name="description" placeholder="Question"/>
      <input type="hidden" name="id" value="<%= @survey.id %>"/>
      <input type="submit" value="Add Question"/>
    </form>
      <ul>
        <li>True</li>
        <li>False</li>
      </ul>
  </div>
  <div class="row">
      <a href="#"><button id="addBtn">Add</button></a>
      <a href="/"><button>Edit</button></a>
      <a href="/"><button id="completeBtn">Complete</button></a>
      <a href="/survey/<%=@survey.id%>/delete"><button>Delete Survey</button></a>
  </div>
  <% end %>
</div>
